header.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

li {
  display: inline;
  padding: 1rem;
}

a,
a:visited,
a:hover {
  color: blue;
  text-decoration: none;
}

